body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    color: rgb(7, 64, 78)
}

h1{
    font-size:30px;
    color:rgb(4, 29, 85);

}

h2{
    font-size:27px;
    color:rgb(4, 29, 85);
}
h3{
    font-size:27px;
    color:rgb(4, 29, 85);
}
h4{
    font-size:27px;
    color:rgb(4, 29, 85);
}
h5{
    font-size:27px;
    color:rgb(4, 29, 85);
}

h6{
    font-size:27px;
    color:rgb(4, 29, 85);
}

h7{
    font-size: 20px;
}